@import "tailwindcss";

@layer base {
  @font-face {
    font-family: "CircularWeb";
    src: url("/fonts/circularweb-book.woff2") format("woff2");
  }

  @font-face {
    font-family: "General";
    src: url("/fonts/general.woff2") format("woff2");
  }

  @font-face {
    font-family: "RobertRegular";
    src: url("/fonts/robert-regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "RobertMedium";
    src: url("/fonts/robert-medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "Zentry";
    src: url("/fonts/zentry-regular.woff2") format("woff2");
  }
}

body {
  font-family: "General Sans", sans-serif;
  width: 100dvw;
  background-color: #dfdff0;
  overflow-x: hidden;
}

@theme {
  --font-circular: "CircularWeb", sans-serif;
  --font-general: "General", sans-serif;
  --font-robert-regular: "RobertRegular", sans-serif;
  --font-robert-medium: "RobertMedium", sans-serif;
  --font-zentry: "Zentry", sans-serif;

  --color-blue-50: #dfdff0;
  --color-blue-75: #dfdff2;
  --color-blue-100: #f0f2fa;
  --color-blue-200: #010101;
  --color-blue-300: #4fb7dd;

  --color-violet-300: #5724ff;

  --color-yellow-100: #8e983f;
  --color-yellow-300: #edff66;
}
